@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

h1 {
    font-family: 'Lexend Deca', sans-serif;    
}

#header {
    font-family: 'Montserrat Alternates', sans-serif;   
}

#sub {
    font-family: 'Montserrat', sans-serif;
}

.field {
    border-radius: 100px;
}