<div class="ui container">
	<div class="ui rounded raised segment">

		<h1 class="ui header" id="header">
			qard
			<div class="sub header" id="sub">Your digital business card</div>
		</h1>

		{{#if session.isAuthenticated}}
		  <h1 class="ui large header">
		  	Hi, {{model.name}}
		  </h1>
		{{/if}}


		<div class="ui secondary pointing menu">
			<a class="active item">
				Scanner
			</a>
			{{#if session.isAuthenticated}}
			  <a class="item">
			  	Code
			  </a>
			  <a class="item">
			  	Socials
			  </a>
			  <a class="item">
			  	Logout
			  </a>
			{{else}}
			  <a class="item">
					Login
				</a>
				<a class="item">Register</a>
			{{/if}}
		</div>
	</div>
</div>