{{ember-load-remover}}
<div class="ui container">
	<div class="ui rounded raised segment">
		<h1 class="ui header" id="header">
			qard
			<div class="sub header" id="sub">Your digital business card</div>
		</h1>
		{{#if session.isAuthenticated}}
		  <h1 class="ui large header">
		  	Hi, {{model.name}}
		  </h1>
		{{/if}}
		<div class="ui secondary pointing menu">
			{{#link-to "scan" class="item"}}
				Scanner
			{{/link-to}}
			{{#if session.isAuthenticated}}
			  {{#link-to "index" class="item"}}
					QR-code
				{{/link-to}}
			  {{#link-to "socials" class="item"}}
					Socials
				{{/link-to}}
				{{#link-to "settings" class="item"}}
					Settings
				{{/link-to}}
			{{else}}
			  {{#link-to "login" class="item"}}
					Login
				{{/link-to}}
				{{#link-to "register" class="item" }}
					Register
				{{/link-to}}
			{{/if}}
		</div>
		{{outlet}}
	</div>
</div>